@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #22afad,#5f2c82);
    }

    section#login{
        width: 90vw;
        
    }
    
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0 0 20px;
    }
    #formulario{
        float: right;
        width: 66%;
    }
    #formulario > p{
        font-size: 1.3em;
    }
    input[type=submit]{
        width: 54%;
        height: 45px;
        font-size: 18px;

    } 
    input[type=submit]:hover{

        background-color: #30aeaca1;
        width: 56%;
        font-size: 20px;
    }

}
@media screen and (min-width:992px) {
    body{background-image: linear-gradient(to top, #22afad,#5f2c82);
    }    
    
    section#login{
        width: 950px;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 67%;
    }
    #formulario > p{
        font-size: 1.5em;
    }
    input[type=submit]{
        width: 56%;
        height: 45px;
        font-size: 19px;

    } 
    input[type=submit]:hover{

        background-color: 
        #30aeaca1;  
        width: 58%;
        font-size: 21px;
    }

    
    
}