@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #22afad,#5f2c82);
    }

    section#login{
        width: 90vw;
        
    }
    
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0 0 20px;
    }
    #formulario{
        float: right;
        width: 66%;
    }
    #formulario > p{
        font-size: 1.3em;
    }

    .campo{
        background-color: rgba(65, 30, 180, 0.896);
        height: 120px;
        width: 450px;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 15px;
        padding: 10px;
    } 

    #imail{
        margin-top: 10px;
    }
    #isenha{
        margin-top: 10px;
    }

    input[type=email]{
        width: 230px;
        height: 31px;
    }

    input[type=password]{
        width: 230px;
        height: 31px;
    }

    input[type=submit]{
        width: 54%;
        height: 45px;
        font-size: 18px;

    } 
    input[type=submit]:hover{

        background-color: #30aeaca1;
        width: 56%;
        font-size: 20px;
    }

}
@media screen and (min-width:992px) {
    body{background-image: linear-gradient(to top, #22afad,#5f2c82);
    }    
    
    section#login{
        width: 950px;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 67%;
        
    }
    #formulario > p{
        font-size: 1.5em;
    }

    .campo{
        background-color: rgba(65, 30, 180, 0.896);
        height: 120px;
        width: 615px;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 15px;
        padding: 10px;
        margin: auto;
        margin-top: 5px;
    } 

    #imail{
        margin-top: 5px;
    }
    #isenha{
        margin-top: 10px;
    }
  

    input[type=email]{
        width: 300px;
        height: 31px;
        padding-top: 1px;
    }
    input[type=password]{
        width: 250px;
        height: 31px;
    }
    input[type=submit]{
        width: 56%;
        height: 45px;
        margin-top: 20px;
        font-size: 19px;

    } 
        input[type=submit]:hover{

        background-color: 
        #30aeaca1;  
        width: 58%;
        font-size: 21px;
    }

    
    
}